:host {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

div {
  width: 400px;
  margin: var(--size-2) auto;
  padding-inline: var(--size-5);
  padding-block: var(--size-4);
  border-radius: var(--radius-conditional-2);
  border: var(--border-size-1) solid var(--surface-3);
  background: var(--surface-2);

  h2 {
    text-align: center;
  }

  input {
    width: 100%;
    margin: var(--size-2) 0;
    border-radius: var(--radius-conditional-2);

    &[type="submit"] {
      background-color: var(--indigo-6);
    }
  }
}
